{% for link in linklists[nav].links %}
  {% if link.title == 'Search' or link.title == 'search' %}
    <li>
      <search-form></search-form>
    </li>
  {% elsif link.links != blank %}
    <li>
      <a class="nav-link {% if link.child_active or link.active %}nav-link--active{% endif %}" href="{{ link.url }}">
        {{ link.title }}
        {% include 'icon-arrow-down' %}
      </a>
      <ul>
        {% for childlink in link.links %}
          <li>
            <a class="nav-link {% if link.active %}nav-link--active{% endif %}" href="{{ childlink.url }}">
              {{ childlink.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% else %}
    <li>
      <a class="nav-link {% if link.active %}nav-link--active{% endif %}" href="{{ link.url }}">
        {{ link.title }}
      </a>
    </li>
  {% endif %}
{% endfor %}