{% assign image = img %}

<section class="image-with-text half-grid">

  <div class="image-with-text__image y padded-full-height">
    <responsive-img-tag
      alt="{{ heading }}"
      class-name="x y"
      :src='{{ image | json }}'>
    </responsive-img-tag>
  </div>

  <div class="image-with-text__text al small--mt-line medium-up--mb-line">
    <div class="image-with-text__content fdc jcb x y">

      {% if heading != blank %}
        <h2 class="image-with-text__heading uppercase">{{ heading | escape }}</h2>
      {% endif %}

      <div class="image-with-text__p">
        {% if paragraph != blank %}
          <div>{{ paragraph }}</div>
        {% endif %}

        {% if button_label != blank and button_url != blank %}
          <a href="{{ button_url }}" class="button mt-line">
            {{ button_label | escape }}
          </a>
        {% endif %}

      </div>
    </div>
  </div>
</section>