{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section class="header uppercase" data-section-id="{{ section.id }}" data-section-type="header">
  <div class="body-wrapper header__inner y">
    <nav role="navigation" class="header__left">
      <ul>
        {% for link in linklists[section.settings.left_menu].links %}
          {% if link.links != blank %}
            <li>
              <a href="{{ link.url }}">
                {{ link.title }}
                {% include 'icon-arrow-down' %}
              </a>
              <ul>
                {% for childlink in link.links %}
                  <li>
                    <a href="{{ childlink.url }}">
                      {{ childlink.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li>
              <a href="{{ link.url }}">
                {{ link.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <header role="banner" class="header__center">
      {% if template.name == 'index' %}
        <h1>
      {% else %}
        <div class="h1">
      {% endif %}
          <a href="/" class="logo-image">
            <img src="{{ 'logo.svg' | asset_url }}" />
          </a>
      {% if template.name == 'index' %}
        </h1>
      {% else %}
        </div>
      {% endif %}

    </header>

    <nav class="header__right" role="navigation">
      <ul>
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li>
              {% if customer.first_name != blank %}
                {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
              {% else %}
                <a href="/account">{{ 'layout.customer.account' | t }}</a>
              {% endif %}
            </li>
            <li>
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
            </li>
          {% else %}
            <li>
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </li>
            <li>
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </li>
          {% endif %}
        {% endif %}
        {% for link in linklists[section.settings.right_menu].links %}
          {% if link.title == 'Search' %}
            <li>
              {% include 'search-form' %}
            </li>
          {% else %}
            {% if link.links != blank %}
              <li>
                <a href="{{ link.url }}">
                  {{ link.title }}
                  {% include 'icon-arrow-down' %}
                </a>
                <ul>
                  {% for childlink in link.links %}
                    <li>
                      <a href="{{ childlink.url }}">
                        {{ childlink.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li>
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}

        <li>
          <a href="/cart" class="header__cart" >
            {{ 'layout.cart.title' | t }}
            [{{ cart.item_count }}]
          </a>
        </li>
      </ul>

    </nav>
  </div>
</section>

{% schema %}
  {
    "name": "Header",
    "class": "header-wrapper z10",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "link_list",
        "id": "left_menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "right_menu",
        "label": "Right Menu"
      }
    ]
  }
{% endschema %}
