<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}
  {% include 'json-ld' %}
  {% include 'theme' %}
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');
  </script>

  {{ content_for_header }}

  {{ 'font.scss.css' | asset_url | stylesheet_tag }}
  {{ 'vendor.css' | asset_url | stylesheet_tag }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
  {{ 'vendor.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
  {% section 'swatch-styles' %}
</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  <div id="app">
    <div class="fix x y fill z9" v-if="visibleModal" @click="dismissModal(visibleModal)"></div>
    {% section 'header' %}

    {% if template != "cart" %}
      {% include 'side-cart' %}
    {% endif %}

    <main role="main" id="MainContent" class="body-wrapper min-full-height">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </div>

</body>
</html>
